/* Start edit header content */
.header-content {
  background: var(--card-color);
  padding: 5px var(--padding-inside);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-content .date-area input {
  padding: var(--padding-inside);
  border: none;
  outline: none;
  font-size: 15px;
  color: var(--title-color);
  border-radius: 5px;
  background: var(--bg-color);
}
.header-content .title-content {
  font-size: 25px;
  font-weight: 600;
  color: var(--title-color);
  text-transform:uppercase;
}

/* Start edit header routes */
.header-routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card-color);
  padding: 5px var(--padding-inside);
  margin: 5px 0;
}
.header-routes .routes-content,
.header-routes .routes-content a{
  display: flex;
  align-items: center;
  gap: 5px;
}
.routes-content a:not(:last-child):after{
  content: '\003E';
  color: #000;
  font-size: 20px;
}
.header-routes .btn-action {
  margin: 0;
  background: red;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.header-routes .btn-action i{
  font-size: 20px;
}

/* Confirm Delete Item */
.confirm-delete,.success-action{
  width: 400px;
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px var(--padding-inside);
  text-align: center;
  border-radius: 10px;
  position: fixed;
  z-index: 999999;
  transform: translate(-50%,-600%);
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: var(--transition-time);
  border: 1px solid var(--border-color);
}
.confirm-delete.show,
.success-action.show{
  opacity: 1;
  transform: translate(-50%,-50%);
}
.confirm-delete i{
  color: red;
  font-size: 50px;
}
.confirm-delete h2,
.success-action h2{
  color: var(--title-color);
  font-size: 18px;
}
.confirm-delete .delete-actions{
  display: flex;
  gap: 35px;
}
.confirm-delete .delete-actions span{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--link-color);
  cursor: pointer;
  transition: var(--transition-time);
}
.confirm-delete .delete-actions .confirm{
  border:1px solid red;
}
.confirm-delete .delete-actions .confirm:hover{
  background-color:red;
  color: #fff;
}
.confirm-delete .delete-actions .cancel{
  border:1px solid var(--main-color);
}
.confirm-delete .delete-actions .cancel:hover{
  background-color:var(--main-color);
  color: #fff;
}

/* Success Action */
.success-action{
  height: 200px;
}
.success-action h2{
  font-size: 23px;
}
.success-action i{
  color: green;
  font-size: 55px;
}