/* Start edit task section */
.add-task .add-form{
  position: fixed;
  right: 0;
  top: 70px;
  transform: translateX(100%);
  opacity: 0;
}
.add-task .add-form.showTaskForm {
  transform: translateX(0px);
  opacity: 1;
}
.task-section .title-details {
  /* width: -moz-fit-content;
  width: fit-content; */
  padding: 10px;
  border-radius: 5px;
  color: var(--link-color);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
}
.task-section .title-icon{
  color: var(--link-color);
  font-size: 18px;
}
.task-section .task-quick-info {
  text-align: left;
}
.task-section .task-quick-info ul li{
  border-bottom: none !important;
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-section .task-info{
  color: var(--text-color);
  margin: 5px;
  text-align: justify;
  position: relative;
}
.task-section .task-info .input-info{
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background: var(--card-color);
  color: var(--link-color);
}
.task-section .task-info .input-info.edit{
  border: 1px solid var(--border-color);
}
.task-section .task-info .icon-edit{
  position: absolute;
  right: 0px;
  top: -40px;
  font-size: 20px;
}
.task-section .task-info .icon-valid{
  position: absolute;
  right: 60px;
  top: -40px;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}
.task-section .task-info .icon-cancel{
  position: absolute;
  right: 120px;
  top: -40px;
  font-size: 20px;
  color: var(--link-color);
  cursor: pointer;
  display: none;
}
.task-full-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--card-color);
  padding:10px 5px;
}
.task-equip{
  display: flex;
  gap: 10px;
}
.task-equip img {
  height: 100px;
  width: 150px;
}
.task-full-info .task-actions{
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-full-info .task-count {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--link-color);
}
.task-full-info .task-count .icon-task{
  font-size: 20px;
  color: var(--link-color);
}
.task-section .table-data .etat{
  font-size: 14px;
  margin-top: 10px;
}


/* Start Edit task details */
.task-details .task-teails-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.task-details .task-teails-header .task-etat{
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
.task-details .details-items .items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
  gap: 5px;
  border: 1px solid var(--border-color);
  padding: 5px;
}
.task-details .details-items .items .item-data{
  font-size: 14px;
  color: var(--title-color);
  padding: 5px 30px;
  display: block;
}
.task-details .details-items .items .item-title {
  background: var(--bg-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: var(--padding-inside) 5px;
  font-size: 16px;
  font-weight: 700;
  color: var(--link-color);
}
.task-details .details-items .items .item i{
  color: var(--main-color);
  font-size: 20px;
}
.task-details .activities-items{
  margin: 0px auto;
  padding: 1px var(--padding-inside);
  color: var(--link-color);
  display: flex;
  gap: 50px;
  width: 100%;
}
.task-details .items .item-more{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 5px;
}
.task-details .activities-items .activity-item {
  border: 1px solid var(--border-color);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
}
.task-details .activities-items .activity-item:before {
  border-bottom: 10px solid transparent;
  border-right: 30px solid var(--sidebar-link-color);
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
.task-details .activities-items .activity-scroll {
  width: 2px;
  background: var(--main-color);
  position: relative;
}
.task-details .activities-items .activity-scroll .sircle{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes identifier {
  0%{
    width: 40px;
    height: 40px;
  }
  100%{
    width: 35px;
    height: 35px;
    left: -17.5px;
  }
}
.task-details .activities-items .activity,
.task-details .activities-items .activity .activity-date{
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  gap: 10px;
}
.task-details .activities-items .activity .activity-date{
  margin-bottom: 0;
}
.task-details .activities-items .activity-item .activity-item-actions{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-details .activities-items .activity-item-actions .icon-delete{
  color: red;
}
.task-details .activities-items .activity .activity-info .activity-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--link-color);
}
.task-details .activities-items .activity .activity-info .activity-data {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.task-details .activities-items .activity .activity-calender {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  width: 100%;
}
.task-details .activities-items .activity .activity-icon img{
  width: 35px;
  vertical-align: middle;
}
.task-details .activities-items .activity-item i{
  color: var(--text-color);
  font-size: 20px;
}
.task-details h2.activities-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--title-color);
  text-transform: uppercase;
}
.task-details .activities-task {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}
.task-details .activities-header {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--card-color);
  padding: var(--padding-inside);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-details .right-item{
  border-left: 1px solid var(--border-color);
  padding: 10px;
}
.task-details .right-item .right-item-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--link-color);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}
.task-details .details-info .right-item-icon img{
  height: 250px;
}
@media (max-width : 460px){
  .task-details .details-items .items {
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }
}


/* Task details form Activity */
.activities-task .add-activity .add-form{
  margin-bottom: 10px;
  width: 100%;
  z-index: 0;
  display: none;
  position: relative;
  right: 0;
  top: 0;
  transform: translateX(0);
  opacity: 1;
}
.activities-task .add-activity .add-form .form-content .form-details{
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
  gap: 20px;
}
.activities-task .add-activity .add-form .group-input{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  gap: 10px;
}
.activities-task .add-activity .add-form.showActivityForm{
  display: block;
}