/* Start Edit Box Content */
.box-content {
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--padding-inside);
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.box-content .box-header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-content .box-header h3{
  font-size: 20px;
  color: var(--title-color);
}
.box-content .box-bottom{
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-content .box-body ul li:not(:last-child){
  border-bottom: 1px solid var(--border-color);
}
.box-content .box-body ul li{
  padding: 10px 0;
}

/* Start Edit Quick Result progress */
.quick-res{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  gap: 10px;
  background: var(--card-color);
  margin: 10px 0;
}
.quick-res .quick-box{
  padding: 5px;
  border-radius: var(--padding-inside);
}
.quick-res .quick{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 30px 0;
}
.quick-res .quick .icon i{
  color: var(--bg-color);
  font-size: 70px;
}
.quick-res .quick .counter,
.quick-res .quick a{
  color: #fff;
  text-align: center;
}
.quick-res .quick .counter{
  font-size: 30px;
}
.quick-res .quick a{
  font-size: 20px;
}
.quick-res .activity{
  background-color: #ff6a31;
}
.quick-res .task{
  background: var(--main-color);
}
.quick-res .equip{
  background-color: #706f6f;
}

/* Start Edit Latest Section*/
.latest-section {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap: 10px;
}
.latest-section .circles {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  gap: 10px;
  text-align: center;
}
.latest-section .circles .circle img {
  width: 75px;
}

/* Start Edit Progress Section*/
.progress-section {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
  gap: 10px;
}
.progress-section .progress-item {
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.progress-section .progress-name {
  font-size: 14px;
  display: block;
  font-weight: 600;
  color: var(--title-color);
}
.progress-section .progress-content {
  width: 95%;
  height: 20px;
  background: #eee;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
}
.progress-section .progress-size{
  width: 0;
  height: 20px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  transition: var(--transition-time) linear;
}
.progress-section .progress-counter {
  color: var(--title-color);
  position: absolute;
  right: -35px;
  font-size: 12px;
  font-weight: 600;
  top: 50%;
  transform: translateY(-50%);
}