/* Start Edit Equipement Section */
/* .equipement-section .list-equipements .equipment{
  position: relative;
}
.equipement-section .list-equipements .equipment:hover::after {
  content: "";
  width: 100%;
  height: 190px;
  top: 0;
  left: 0;
  background: var(--main-color);
  position: absolute;
  opacity: .2;
  transition: var(--transition-time);
  z-index: 9999;
} */
.equipement-section {
  position: relative;
}
.equipement-section .add-form{
  position: fixed;
  right: -50%;
  top: 70px;
  opacity: 0;
}
.equipement-section .add-form.showEquipementForm{
  right:0;
  opacity: 1;
}
.equipement-section .add-form .sub-input {
  display: flex;
  gap: 10px;
}
.equipement-section .add-form .hide-categorie{
  margin: 10px auto;
  width: 88%;
  display: none;
}
.equipement-section .add-form .hide-categorie.showHideCategoie{
  display: block;
}
.equipement-section .equipement-content .list-equipements{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 10px;
  background-color: var(--card-color);
  padding: 5px;
}
.equipement-section .equipement-content .box-content .box-description {
  color: var(--text-color);
}
.equipement-section .equipement-content .box-content .box-body img{
  height: 190px;
}
.equipement-section .equipement-content .box-content .box-title {
  color: var(--link-color);
  font-weight: 600;
}
.equipement-section .equipement-content .box-content .box-info{
  padding: 0 5px;
}
.filter-data .search-area{
  position: relative;
}
.filter-data .search-area input{
  padding-left : 40px
}
.filter-data .search-area input:focus{
  background-color: var(--main-color);
}
.filter-data .search-area .search-icon{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  transform: translateY(-50%);
  color: var(--text-color);
}

/* Start edit equipement details */
.equipement-details .equipement-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.equipement-details .details-items .items{
  display: grid;
  grid-template-areas: "left right right";
  gap: 10px;
  border: 1px solid var(--border-color);
  padding: 5px;
}
.equipement-details .details-items .saveChange {
  position: absolute;
  right: 20px;
  top: 15px;
  color: green;
  font-size: 25px;
  cursor: pointer;
}
.equipement-details .details-items .info-details .info-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 10px;
  margin-top: 10px;
}
.equipement-details .details-items .items .equi-item-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--title-color);
  display: block;
  margin-bottom: 10px;
}
.equipement-details .details-items .items .item-data{
  font-size: 14px;
  color: var(--link-color);
  padding: 5px 30px;
  display: block;
}
.equipement-details .details-items .items .item-title {
  background: var(--bg-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}
.equipement-details .details-items .items i{
  color: var(--main-color);
  font-size: 20px;
}
.item-image img{
  height: 250px;
}
.equipement-additional .equip-task {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius : 10px;
  margin-top: 20px;
}
.equipement-additional .equip-task .equip-task-icon {
  width: 100px;
  text-align: center;
}
.equipement-additional .equip-task .equip-task-icon i{
  color: var(--text-color);
  font-size: 40px;
}
.equipement-additional .equip-task .equip-task-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.equipement-additional .equip-task .equip-task-info .task-info-date {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
}
.equipement-additional .equip-task .equip-task-info .task-info-des {
  color: var(--text-color);
}
.equipement-additional .add-form{
  margin-top: 10px;
  width: 100%;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 100;
}
.equipement-additional .add-form.showtaskform{
  display: block;
  opacity: 1;
  transform: translateY(0px);
}
.equipement-additional .add-form .form-details{
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
}

/* Update Equipement */
.update-equipement .add-form {
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  transition: var(--transition-time);
  opacity: 0;
}
.update-equipement .add-form.showupdateform{
  width: 100%;
  right: 0;
  opacity: 1;
}
.update-equipement .add-form .form-content .form-details{
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}