/* Start Edit Header */
.header{
  background: var(--card-color);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-inside);
  position: fixed;
  top: 0;
  width: var(--content-width);
  z-index: 999999;
  transition: var(--transition-time);
}
.header .toggle-sidebar{
  color: var(--title-color);
  font-size: 25px;
  cursor: pointer;
}
.header-items {
  display: flex;
  align-items: center;
  gap: 220px;
  color: var(--title-color);
}
.header-items .header-langs .langs{
  position: relative;
  background: var(--bg-color);
}
.header-items .header-langs .langs .lang{
  padding: 18px 40px 18px 5px;
  cursor: pointer;
}
.header-items .header-langs .langs .sub-langs{
  position: absolute;
  top: 65px;
  width: 100%;
  left: 0;
  background: var(--card-color);
  transform: translateY(-999px);
  opacity: 0;
}
.showSubLangs{
  transition: var(--transition-time);
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.header-items .header-langs .langs .sub-langs .sub-lang {
  border-bottom: 1px solid var(--bg-color);
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition-time);
}
.header-items .header-langs .langs .sub-langs .sub-lang:hover {
  background: var(--main-color);
  color: #fff;
}
.header-items .settings-icon{
  color: var(--title-color);
  font-size: 20px;
  cursor: pointer;
}

/* Second Langs Header */
.header-items .header-langs .langs-select{
  padding: 20px 20px 20px 5px;
  border: 1px solid var(--border-color);
  outline: none;
  cursor: pointer;
  background: var(--card-color);
  color: var(--link-color);
}

/* Start Edit Settings Area */
.settings-area{
  background: var(--sidebar-color);
  height: 100vh;
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  right: -300px;
  transition: var(--transition-time);
}
.settings-area .settings-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  box-shadow: 1px 0px 2px 0px #ecf0f1;
  position: fixed;
  width: var(--sidebar-width);
  top: 0;
  background: var(--sidebar-color);
  z-index: 998;
}
.settings-area .settings-header h2 {
  font-size: 20px;
  color: var(--sidebar-title-color);
}
.settings-area.show{
  right: 0px;
}
.settings-area .close-settings{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 20px;
  border-radius: 50%;
  padding: 0px 4px;
  cursor: pointer;
  z-index: 999;
}
.settings-area .settings-content{
  margin-top: 60px;
  width: 100%;
  background: var(--sidebar-color);
  height: 100%;
  overflow: hidden auto;
  padding: 10px 0;
}
.settings-area .settings-content::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: var(--text-color);
}
.settings-area .settings-content::-webkit-scrollbar{
  background-color: #fff;
  width: 3px;
}
.settings-area .box-settings {
  padding: var(--padding-inside);
  color: var(--title-color);
}
.settings-area .box-settings .title-header-setting {
  padding: 5px var(--padding-inside);
  margin-bottom: 5px;
  background: var(--main-color);
  color: var(--sidebar-title-color);
}
.settings-area .box-settings .setting-content {
  padding: 10px 5px;
}
.settings-area .box-settings .color-theme .theme {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--sidebar-title-color);
}
.settings-area .box-settings .color-theme input[type="radio"] {
  display: none;
}
.settings-area .box-settings .color-theme .theme .theme-select {
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: var(--border-color);
  cursor: pointer;
  position: relative;
  background: var(--bg-color);
}
.settings-area .box-settings .color-theme .theme .theme-select .dot {
  width: 20px;
  background: var(--text-color);
  height: 20px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}
.settings-area .box-settings .color-theme .theme .theme-select .dot.active {
  right: 0;
  background: var(--main-color);
}
.settings-area .box-settings .list-colors {
  padding: 10px 0;
}
.settings-area .box-settings .list-colors .colors {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.settings-area .box-settings .list-colors .colors .color{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .5;
}
.settings-area .box-settings .list-colors .colors .color.active{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 1;
}
.settings-area .box-settings .list-colors .colors .color:first-child{
  background-color: #3498db;
}
.settings-area .box-settings .list-colors .colors .color:nth-child(2){
  background-color: #f06c00;
}
.settings-area .box-settings .list-colors .colors .color:nth-child(3){
  background-color: #27ae60;
}
.settings-area .box-settings .list-colors .colors .color:nth-child(4){
  background-color: #8e44ad;
}
.settings-area .box-settings .list-colors .colors .color:nth-child(5){
  background-color: #ff9f1a;
}
.settings-area .box-settings .list-colors .colors .color:last-child{
  background-color: #2e9383;
}