@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  word-break: break-word;
}
:root{

  /* Colors */
  --main-color : #005187;
  --text-color : #37404abf;
  --link-color : #222f3e;
  --card-color : #fff;
  --border-color : #a4b0be87;
  --bg-color : #ecf0f1;
  --success-color : #2ecc71;
  --title-color : #000;
  
  /* sidebar-colors */
  --sidebar-color : #313a46;
  --sidebar-link-color : #95a5a6;
  --sidebar-title-color : #fff;
  
  /* Pexels */
  --padding-inside : 10px;
  --sidebar-width : 250px;
  --content-width : calc(100% - var(--sidebar-width));
  --transition-time : 0.3s;
}
body{
  background-color: var(--bg-color);
}
.is-dark{
  --text-color    : #a4b0be;
  --border-color  : #1e272e;
  --bg-color      : #1e272e;
  --card-color    : #222f3e;
  --title-color   : #fff;
  --link-color    : #eee;
  --sidebar-color : var(--card-color);
}

/* General Ruls */
a{
  text-decoration: none;
  color: var(--link-color);
}
a:hover{
  color: var(--main-color);
}
img {
  width: 100%;
  height: 100%;
}
ul{
  list-style: none;
}

.container{
  width: var(--content-width);
  float : right;
  transition: var(--transition-time);
}
.full{
  width:100% !important;
}
.content-wrapper {
  padding: 0 var(--padding-inside);
  margin-top: 70px;
  float: right;
  width: 100%;
}
.overly {
  background-color: #37404a;
  opacity: .2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99998;
  display: none;
  -webkit-transition: all .2s ease-out;
  transition: var(--transition-time);
}
.btn-action{
  display: flex;
  align-items: center;
  background: var(--main-color);
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px var(--padding-inside);
  font-size: 14px;
  gap: 10px;
  transition: var(--transition-time);
  cursor: pointer;
}
.btn-action:hover{
  color: rgb(230, 226, 226);
}
.btn-edit{
  background:green !important;
}
.btn-delete{
  background:red !important;
}
.btn-view{
  background: #ff9f1a !important;
}
.icon-delete{
  color: red;
  font-size: 25px;
  cursor: pointer;
}
.icon-edit{
  color: green;
  font-size: 25px;
  cursor: pointer;
}
.btn-action.csv-btn{
  background-color: green;
}
.btn-action.pdf-btn{
  background-color: red;
}

/* Start Edit Add Form Section */
.add-form{
  width: 600px;
  margin: auto;
  background: var(--card-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  position: relative;
  overflow: auto;
  min-height: fit-content;
  max-height: 800px;
  z-index: 9999999;
  transition: 0.5s;
}
.add-form .title{
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
}
.add-form .title i{
  font-size: 25px;
  color: var(--title-color);
  cursor: pointer;
}
.add-form .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 10%;
  border-radius: 5px;
  background: var(--main-color);
}
.form-content{
  color: var(--title-color);
}
.form-content .form-details{
  margin: 20px 0 12px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 10px;
}
.form-content .form-details .radio-box {
  display: flex;
  gap: 30px;
}
.form-content .form-details .radio-box label {
  margin-left: 5px;
}
.input-box input,.input-box textarea{
  height: 45px;
  width: 100%;
  max-width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding:0 15px;
  border: 1px solid var(--border-color);
  border-bottom-width: 2px;
  background: var(--bg-color);
  color: var(--link-color);
}
.input-box textarea{
  min-height: 100px;
  padding-top: 5px;
}
.input-box input[type="file"] {
  padding: 7px;
}
.input-box .input-error {
  color: red;
}
.input-box input:focus,
.input-box select:valid,
.input-box input:valid,
.input-box textarea:valid,
.input-box textarea:focus{
  border-color: var(--main-color);
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding:5px 15px;
  border: 1px solid var(--border-color);
  border-bottom-width: 2px;
  background: var(--bg-color);
  color: var(--link-color);
}
.input-box .details{
  display: inline-block;
  margin-bottom: 5px;
  color: var(--title-color);
  vertical-align: bottom;
}
.form-content .gender-details .gender-title{
font-size: 20px;
}
.form-content .category{
display: flex;
width: 80%;
margin: 14px 0;
gap: 30px;
}
.form-content .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form-content .category label .dot{
height: 18px;
width: 18px;
border-radius: 50%;
margin-right: 10px;
background: #d9d9d9;
border: 5px solid transparent;
transition: var(--transition-time);
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
  background:var(--main-color);
  border-color: var(--border-color);
}
.form-content input[type="radio"]{
  width: 20px;
  height: 20px;
}
.form-content .button{
height: 40px;
margin: 30px 0;
display: grid;
gap: 10px;
grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
}
.form-content .button input{
  height: 100%;
  border-radius: 5px;
  border: none;
  color: var(--link-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px 0;
  background: var(--card-color);
  border: 1px solid var(--main-color);
}
.form-content .button input[type="submit"]{
  background: var(--card-color);
  border: 1px solid var(--main-color);
}
.form-content .button input[type="reset"]{
  background: var(--card-color);
  border: 1px solid red;
}
.form-content .button input:hover{
transform: scale(0.99);
background: var(--main-color);
}
.form-content .button input[type="reset"]{
  border: 1px solid red;
}
.form-content .button input[type="reset"]:hover{
  background-color: red;
}
.form-content .button :hover{
  color : #fff;
}

/* Start Edit Table Data */
.table-data {
  margin: auto;
  width: 100%;
  background-color: var(--card-color);
  color: var(--title-color);
}
.table-data .table-row-data {
  background: var(--bg-color);
}
.table-data .table-row-data td {
  font-size: 16px;
  padding: 5px var(--padding-inside);
}
.table-data tbody td {
  border: 1px solid var(--border-color);
  padding: var(--padding-inside);
}


@media (max-width : 600px){
  .add-form{
    width: 100%;
    max-height: 600px;
  }
  .form-content .form-details{
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr)) !important;
  }
}
@media (max-width : 535px){
  .container,.header{
    width: 100% !important;
  }
}
@media (max-width : 390px){
  .form-content .form-details{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr)) !important;
  }
}